/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: #373fff;
  font-size:3em
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  padding: 5px;
  max-width: 300px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}



button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}


#avatar{
  max-width:64px;
  border-radius:100%;
  vertical-align:middle;
}

#user{
  text-align:center;
  margin:2em;
}

#name{
  font-size:1.3em;
  color:#3d3d3d
}

#wha{
  font-size:1.3em
}

#new{
  display:none
}
